body{
    height: 100vh;
}

.link{
    color: white;
    text-decoration: none;
}

.cardImg{
    min-height: 200px;
    height: 100%;
    object-fit: cover;
}

main{
    height:calc(100vh - -792px);
}

#MentreTuttoScorre{
    height: calc(100vh - 96px);
}

.specialCard{
    max-width: 300px;
    min-height: 200px;
}

